<!DOCTYPE html>
<html lang="en">
  <head>
    <body>
      <h2>Register</h2>
      <form class="for-inline" action="/register" method="POST">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" placeholder="email">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" placeholder="password">
      <button type="submit">Register</button>  
      </form>
    </body>
  </head>
</html>